TZ="Asia/Bangkok"

PROJECT_DIR="/home/setup/zabbix-config-backup"
BACKUP_BASE="${PROJECT_DIR}/storage"

ZABBIX_ETC_PATH="/etc/zabbix"

ENABLE_DB_BACKUP=true
DB_TYPE="postgresql"          # postgresql | mysql | mariadb
DB_HOST="172.16.0.3"
DB_PORT="5432"
DB_NAME="zabbix"
DB_USER="zabbix"
DB_PASS="PASSWORD"

DB_BACKUP_MODE="config_only"
PG_DUMP_FORMAT="custom"

ENABLE_API_EXPORT=true
ZBX_URL="http://127.0.0.1:8080"
ZBX_TOKEN="API_HERE"

EXPORT_FORMAT="json"

EXPORT_TEMPLATES=true
EXPORT_HOSTS=true
EXPORT_HOST_GROUPS=true
EXPORT_MEDIA_TYPES=true
EXPORT_ACTIONS=true
EXPORT_VALUE_MAPS=true
EXPORT_MAPS=true
EXPORT_MAINTENANCE=true

ENABLE_ETC_BACKUP=true
EXTRA_ETC_PATHS=""

RETENTION_DAYS=30
LOG_FILE="/opt/zabbix-config-backup/storage/zabbix-config-backup.log"

CURL_BIN="curl"
JQ_BIN="jq"

EXCLUDE_TABLES_FILE="${PROJECT_DIR}/conf/exclude_tables.txt"
